@font-face {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/sf-pro-text_regular.woff2);
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/sf-pro-display_regular.woff2);
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/sf-pro-display_semibold.woff2);
}